<mat-toolbar color="primary">

  <span>Keep Notes</span>
  <span class="example-spacer"></span>
  <button  mat-icon-button class="example-icon favorite-icon" matTooltip="All notes" routerLink="home">
    <mat-icon>apps</mat-icon>
  </button>
  <button  mat-icon-button class="example-icon"  matTooltip="Add new notes" routerLink="AddNotes">
    <mat-icon>note_add</mat-icon>
  </button>
  <button  mat-icon-button class="example-icon"  matTooltip="Sign in" routerLink="AddUser">
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>


